{$DOMAIN} {
    encode gzip zstd

    reverse_proxy app:8000 {
        header_up X-Real-IP {remote_host}
    }

    @options method OPTIONS
    respond @options 204

    log {
        output stdout
        format console
    }
}
